---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "SwiftUI",
    icon: "frameworks/react",
    url: "https://developer.apple.com/xcode/swiftui/",
  },
  {
    title: "Web JS",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "React Native",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
];

---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    AdWizard <span class="text-primary">plays nice</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <!-- <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  /> -->
</ContentSection>
