---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "SwiftUI",
    icon: "frameworks/swift",
    url: "https://developer.apple.com/xcode/swiftui/",
  },
  {
    title: "JS",
    icon: "frameworks/js",
    url: "https://www.npmjs.com/package/adwizard-web-sdk",
  },
  {
    title: "React Native",
    icon: "frameworks/react",
    url: "https://www.npmjs.com/package/adwizard-web-sdk",
  },
];

---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    <span class="text-primary">Enchant your apps with AdWizard’s universal compatibility</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="SDKs"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <!-- <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  /> -->
</ContentSection>
