---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Build what your business needs" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead"|>
     Does your business needs to <span class="text-primary">optimize your marketing campaigns?</span><br>
     Or maybe <span class="text-primary">reduce your churn rate?</span>
    Ask your<span class="text-primary"> AI powered wizard</span> what you need to do.
    
  </Fragment>
  <div class="flex">
    <!-- <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a> -->
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
