---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Increase Your Marketing ROI with Integrated Analytics" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead"|>
    Track user journeys from download to conversion across all platforms with our lightweight SDKs and comprehensive analytics platform.

  </Fragment>
  <div class="flex">
    <a
      href="#contact"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 hover:bg-primary"
    >
      <Icon name="mdi:wand" class="size-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
